<footer class="footer">
  <div class="divFooter">
    <div class="datoContacto">
      <ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Fcorreo.png?alt=media&token=4c075dbb-672d-49b0-b6cf-050c9b018094" alt="Correo" id="separacion" class="localizacionImagenCorreo"></ion-img> conoceGC@grancanaria.es
    </div>

    <div class="datoContacto">
      <ion-img src='https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Ftelefono.png?alt=media&token=74e700aa-9bab-4b10-8d8f-e55251d4680b' alt="Teléfono" class="localizacionImagenTelefono" id="imagenTelefono"></ion-img> +34 928629461
    </div>

    <div class="redesSociales">
          <a title="Instagram" href="https://www.instagram.com/"><ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/logos%2Finstagram.png?alt=media&token=9bb596dc-1bf8-461d-9144-834c3fe10f9d" class="imagenInstagram" alt="Instagram"></ion-img></a>
          <a title="Facebook" href="https://www.facebook.com/"><ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/logos%2Ffacebook.png?alt=media&token=2cac8fcf-908a-497b-8b0a-67df6d86a35f" class="imagenFacebook" alt="Facebook"></ion-img></a>
          <a title="YouTube" href="https://www.youtube.com/"><ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/logos%2FyouTube.png?alt=media&token=05b5aaa5-744f-4e09-b1fc-e54e67574130" class="imagenYouTube" alt="YouTube"></ion-img></a>
    </div>

    <span class="copyright">© Todos los derechos reservados MPS SRH SAYM</span>
  </div>
</footer>
