<div class="mensajeRegistrado" id="mensajeOK">
  <div class="row align-items-center">
    <div class="col-1 col-md-2 col-lg-3">
    </div>
    <div class="col-10 col-md-8 col-lg-6">
      <div class="contenedorMensaje">
        <h2 class="tituloRegistroSuccess">Registro realizado</h2>
        <p> Se ha realizado correctamente su registro</p>
        <ion-button type="submit" class="btnInicioSesion" fill="outline" [routerLink]="['/login']">Inicia sesión</ion-button>
      </div>
    </div>
    <div class="col-1 col-md-2 col-lg-3">
    </div>
  </div>
</div>
