/*////////// CUADRO MENSAJE REGISTRO REALIZADO CORRECTAMENTE //////////*/
.mensajeRegistrado{
  background-image: url("https://machbel.com/fotos/2017/09/Vista-del-Roque-Nublo-y-Teide-desde-Gran-Canaria-Roque-Nublo-y-Teide.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  height: auto;
  justify-content: center;
  flex-direction: column;
  background-size: 100% 100%;
}
.contenedorMensaje{
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
}
.tituloRegistroSuccess{
  width:auto;
  align-self: center;
  color: black;
}
.contenedorMensaje p{
  width:auto;
  align-self: center;
  text-align: center;
  color: black;
}
.btnInicioSesion{
  position: relative;
  font-family: Helvetica, serif;
  text-align: center;
  background: #CEE0FC;
  align-self: center;
  border-radius: 10%;
}

/*/////////// MEDIA QUERY ///////////*/
/*
  ##Device = Desktops
  ##Screen = 960px to higher resolution desktops
*/
@media (min-width: 960px){
  /*////////// CUADRO MENSAJE REGISTRO REALIZADO CORRECTAMENTE //////////*/
  .mensajeRegistrado{
    padding: 22rem;
  }
  .contenedorMensaje{
    height: 40rem;
  }
  .tituloRegistroSuccess{
    margin-left:0;
    font-size: 2.2rem;
    margin-top:2rem;
  }
  .contenedorMensaje p{
    font-size: 1.8rem;
  }
  .btnInicioSesion{
    font-size: 1.5rem;
    margin-top:5rem;
    margin-bottom:1rem;
    height: 2.3rem;
  }
}

/*
  ##Device = Tablets
  ##Screen = 640px to 960px
*/
@media (min-width: 640px) and (max-width: 960px) {
  /*////////// CUADRO MENSAJE REGISTRO REALIZADO CORRECTAMENTE //////////*/
  .mensajeRegistrado{
    padding: 5rem;
    background-size: 100% 100%;
  }
  .contenedorMensaje{
    height: auto;
    width: auto;
  }
  .tituloRegistroSuccess{
    margin-top:3rem;
    font-size: 2rem;
  }
  .contenedorMensaje p{
    font-size: 1.8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
  }
  .btnInicioSesion{
    font-size: 1.6rem;
    margin-top:2rem;
    margin-bottom:2rem;
    height: 3rem;
  }
}

/*
  ##Device = Mobiles
  ##Screen = 640px to minimal resolution
*/
@media (max-width: 640px) {
  /*////////// CUADRO MENSAJE REGISTRO REALIZADO CORRECTAMENTE //////////*/
  .mensajeRegistrado{
    padding: 1rem;
    background-size: 100% 100%;
  }
  .contenedorMensaje{
    height: auto;
    justify-content: center;
  }
  .tituloRegistroSuccess{
    font-size: 1.75rem;
    margin-top:2rem;
  }
  .contenedorMensaje p{
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
  }
  .btnInicioSesion{
    font-size: 1.2rem;
    margin-top:1rem;
    margin-bottom:1rem;
    height: 2rem;
  }

}



