<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="slideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of imagenes">
            <div class="wrapper">
              <ion-img src="{{s.url}}" alt="{{s.alt}}"></ion-img>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-home-page-categories></app-home-page-categories>
  <app-home-page-about-us></app-home-page-about-us>
</ion-content>
