<ion-content [fullscreen]="true">
  <app-header></app-header>
  <div *ngIf="getLogged() !== true">
    <app-user-not-logged-message></app-user-not-logged-message>
  </div>
  <div *ngIf="getLogged() === true">
    <div class="categoryWrapper">
      <div *ngFor="let actividadF of actividadesFav">
        <div *ngFor="let actividad of actividades" let z=index>
          <div *ngIf="(actividad.name) === actividadF[z].name">
            <a routerLink="/actividad">
              <div class='actividad' (click)="puestaVariableActivity(actividad.name)" >
                <div class='centrado'>
                  <span class="colorFondo"><div class='nombreActividadImagen'>{{actividad.name}}</div></span>
                </div>
                <ion-checkbox [(ngModel)]="checked" (ionChange)="checkBoxClick($event)"></ion-checkbox>
                <ion-img class='imagenActividad' src="{{actividad.url}}" alt ="{{actividad.name}}"></ion-img>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</ion-content>
