<ion-content [fullscreen]="true">
  <app-header></app-header>
<!--  <div *ngIf="getLogged() !== true">-->
<!--    <app-user-not-logged-message></app-user-not-logged-message>-->
<!--  </div>-->
<!--  <div *ngIf="getLogged() === true">-->
    <div class="categoryWrapper">
      <h2>Mi lista de actividades favoritas</h2>
      <div *ngFor="let actividadF of actividadesFav">
        <div *ngFor="let actividad of actividades">
          <div *ngIf="(actividad.name) === actividadF">
            <a routerLink="/actividad">
              <div class='actividad' (click)="puestaVariableActivity(actividad.name)" >
                <div class='centrado'>
                  <ion-checkbox [(ngModel)]="checked" (ionChange)="checkBoxClick($event)"></ion-checkbox>
                  <span class="colorFondo"><div class='nombreActividadImagen'>{{actividad.name}}</div></span>
                </div>
                <ion-img class='imagenActividad' src="{{actividad.url}}" alt ="{{actividad.name}}"></ion-img>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
<!--  </div>-->

  <app-footer></app-footer>
</ion-content>
