.login{
  background-image: url("https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/fotos%2Fplaya-fondo.jpg?alt=media&token=3b196e4c-a117-4d34-86fe-4cb387cda773");
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: fill;
  height: auto;
  justify-content: center;
  min-height: 70vh;
}
.contenedorForm{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.conjuntoInput{
  display: flex;
  margin-bottom: -2rem;
}

.tituloInicioSesion{
  width:auto;
  align-self: center;
}


.icono{
  position: relative;
}
form{
  text-align: left;
}
form ion-input{
  margin-bottom: 3rem;
  border: 0;
  border-bottom: 2px solid #f0f0f0;
  width: 100%;
}

.botonForm{
  text-align: center;
}

.botonForm ion-button{
  background-color: #CEE0FC;
  border-radius: 10%;
  border: none;
  width: auto;
}
.accesoRegistro{
  align-self: center;
}
.accesoRegistro a{
  text-decoration: none;
}

/*/////////// MEDIA QUERY ///////////*/
/*
  ##Device = Desktops
  ##Screen = 960px to higher resolution desktops
*/
@media (min-width: 960px){
  .login{
    padding: 10rem;
  }
  .icono{
    margin-top: 0.9rem;
    height: 1.8rem;
    width: 2rem;
    bottom: 0.4rem;
    margin-right: 0.89rem;
  }

  .tituloInicioSesion{
    margin-top:2rem;
    margin-left:2rem;
    font-size: 2.3rem;
  }

  .conjuntoInput ion-input{
    font-size: 0.9rem;
  }

  form{
    margin-right: 5rem;
    margin-left: 5rem;
  }

  form ion-label{
    font-size: 1.2rem;
  }

  .avisoRestriccion{
    font-size: 1rem;
  }

  .botonForm ion-button{
    margin-top: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .accesoRegistro{
    font-size:1rem;
    width:15rem;
    margin-bottom: 1rem;
    line-height: 2rem;
    color: black;
  }
  .accesoRegistro a:hover{
    color: #5094FF;
  }
}

/*
  ##Device = Tablets
  ##Screen = 640px to 960px
*/
@media (min-width: 640px) and (max-width: 960px) {
  .login{
    padding: 5rem;
  }
  .icono{
    margin-top: 1.5rem;
    height: 2.5rem;
    width: 2.8rem;
    bottom: 1.3rem;
    margin-right: 1.3rem;
  }
  .conjuntoInput ion-input{
    font-size: 1.6rem;
  }
  .tituloInicioSesion{
    margin-left:2rem;

  }
  form{
    margin-right: 2rem;
    margin-left: 2rem;
  }

  form ion-label{
    font-size: 1.5rem;
  }

  .avisoRestriccion{
    font-size: 1.2rem;
  }

  .botonForm ion-button{
    width:auto;
    height: 3rem;
    margin-top: 2rem;
    font-size: 1.6rem;
  }

  .accesoRegistro{
    font-size:1.4rem;
    width:auto;
    margin-bottom: 1rem;
  }
  .accesoRegistro a{
    color: #5094FF;
  }

}

/*
  ##Device = Mobiles
  ##Screen = 640px to minimal resolution
*/
@media (max-width: 640px) {
  .login{
    padding: 1rem;
  }
  .icono{
    margin-top: 0.9rem;
    height: 1.4rem;
    width: 1.6rem;
    bottom: 0.4rem;
    margin-right: 0.89rem;
  }
  .conjuntoInput ion-input{
    font-size: 0.9rem;
  }
  form{
    margin-right: 2rem;
    margin-left: 2rem;
  }

  form ion-label{
    font-size: 1.1rem;
  }

  .avisoRestriccion{
    font-size: 0.9rem;
  }

  .tituloInicioSesion{
    font-size: 1.75rem;
    margin-right: 1.25rem;
    margin-bottom:2rem;
  }

  .botonForm ion-button{
    width:auto;
    height: 2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;

  }

  .accesoRegistro{
    font-size:1rem;
    width:auto;
    margin-bottom: 1rem;
  }
  .accesoRegistro a{
    color: #5094FF;
  }

}
