/*////////// APARTADO DE CATEGORÍAS //////////*/
.tituloCategorias{
  font-weight: bold;
  width: auto;
  align-self: center;
}
.apartadoCategorias{
  position: relative;
  width: 100%;
  display:flex;
  flex-direction: column;
}

.imagenesCategorias{
  display:inline-block;
  justify-content: space-between;
}

.conjuntoImagenDescripcion{
  position: relative;
  display:inline-block;
}

.conjuntoImagenDescripcion ion-img {
  object-fit: cover;
  display:inline-block;
}

.descripcion {
  position: absolute;
  top: 0;
}


.textoDescripcion {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: "Helvetica", serif;
  color: #FFFFFF;
}

.tituloCategoria{
  font-weight: bold;
  text-decoration-line: underline;
  text-transform: uppercase;
}


/*////////// MEDIA QUERY //////////*/
/*
  ##Device = Desktops
  ##Screen = 960px to higher resolution desktops
*/

@media (min-width: 960px) {
  /*////////// APARTADO DE CATEGORÍAS //////////*/
  .apartadoCategorias{
    width: 100%;
    margin-top: 12rem;
  }

  .descripcion {
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(196, 196, 196, 0.5);
    height: 100%;
    width: 100%;
  }

  .conjuntoImagenDescripcion{
    width:33%;
    margin-top:0.5rem;
    margin-left: 0.20rem;
  }

  .conjuntoImagenDescripcion:hover .descripcion {
    opacity: 1;
  }

  .conjuntoImagenDescripcion ion-img {
    height: 34.38rem;
    object-fit: cover;
    width: 100%;
  }

  .textoDescripcion {
    font-size: 1.88rem;
    line-height: 2.19rem;
  }

  .tituloCategoria{
    font-size: 2.38rem;
    line-height: 2.81rem;
    margin-top:2rem;
  }

  /*////////// FOOTER //////////*/
  .footer{
    margin-top: 18rem;
  }
}

/*
  ##Device = Tablets
  ##Screen = 640px to 960px
*/

@media (min-width: 640px) and (max-width: 959px) {
  /*////////// APARTADO DE CATEGORÍAS //////////*/
  .apartadoCategorias{
    width: 100%;
    margin-top: 3rem;
  }

  .descripcion {
    height: 100%;
    width: 100%;
  }

  .infoDescripcion{
    display:none;
  }

  .conjuntoImagenDescripcion{
    width:49.5%;
    margin-top:0.25rem;
  }

  .conjuntoImagenDescripcion ion-img {
    width: 100%;
    height: 40.38vw;
  }

  .textoDescripcion {
    font-size: 1.88rem;
    line-height: 2.19rem;
  }

  .tituloCategoria {
    font-size: 3.5vw;
    line-height: 1.2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*////////// FOOTER //////////*/
  .footer{
    margin-top: 12rem;
  }
}

/*
  ##Device = Mobiles
  ##Screen = 640px to minimal resolution
*/

@media (max-width: 640px) {
  /*////////// APARTADO DE CATEGORÍAS //////////*/
  .tituloCategorias{
    font-size: 2.25em;
    width: auto;
  }
  .apartadoCategorias{
    width: 100%;
    margin-top: -37rem;
  }

  .descripcion {
    height: 100%;
    width: 100%;
  }

  .infoDescripcion{
    display:none;
  }

  .conjuntoImagenDescripcion{
    width: 100%;
  }

  .conjuntoImagenDescripcion ion-img {
    width: 100%;
    height: 15rem;
    margin-top:1rem;
  }

  .textoDescripcion {
    font-size: 1.88rem;
    line-height: 2.19rem;
  }

  .tituloCategoria {
    font-size: 1.9rem;
    line-height: 1.81rem;
    width: 30rem;
    margin-top:2rem;
  }
  .imagenesCategorias{
    margin-top:-1rem;
  }

  /*////////// FOOTER //////////*/
  .footer{
    margin-top: 9rem;
  }
}
