<app-header></app-header>
<ion-content>
  <div *ngFor="let actividad of actividades">
  <div *ngIf="actividad.name === actividadClicada()">
    <div class="posicionamientoImagenFondo">
      <div [hidden]="isHidden" id="checkdiv">
        <input id="heart" type="checkbox" [(ngModel)]="checked" (change)="checkBoxClick($event)"/>
        <!--<label for="heart">❤</label>-->
      </div>
      <ion-img src="{{actividad.url}}" alt="{{actividad.name}}" class="imagenFondo"></ion-img>
      <div class="centrado">
        <span class="colorFondo"><div class="nombreActividadImagen">{{actividad.name}}</div></span>
      </div>
    </div>
    <div class="separacionBloque">
      <p class="descripcionActividad">{{actividad.description}}</p>
    </div>
    <div class="separacionBloque">
      <div class="localizacionCabeceraEmpresas">
        <h3 class="tituloEmpresas">Empresas</h3>
      </div>
      <section class="localizacionInformacion">
        <app-activity-page-empresas></app-activity-page-empresas>
      </section>
    </div>
  </div>
</div>
</ion-content>
<app-footer></app-footer>




