<ion-content [fullscreen]="true">
<div class="container-fluid register" id="cuadroRegistro">
  <div class="row">
    <div class="col-1 col-sm-2 col-lg-3">
    </div>
    <div class="col-12 col-sm-8 col-lg-6">
      <div class="contenedorFormRegistro">
        <h2 class="tituloRegistro">Registro</h2>

        <form id="form" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

          <ion-label>Usuario</ion-label>
          <div class="conjuntoInputRegistro">
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Ficono-usuario.png?alt=media&token=a7741f6e-bdce-46a4-96ec-0c20eee72887" class="iconoR" alt="Usuario"></ion-img>
            <ion-input type="text" id="user" name="user" [(ngModel)]="user"></ion-input>
          </div>

          <ion-label>Email</ion-label>
          <div class="conjuntoInputRegistro">
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Farroba.png?alt=media&token=1d161ac4-11ad-4b31-bc77-fe607324da06" class="iconoR" alt="Email"></ion-img>
            <ion-input type="email" id="email" name="email" [(ngModel)]="email" ></ion-input>
          </div>

          <ion-label>Nombre</ion-label>
          <div class="conjuntoInputRegistro">
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Ficono-usuario.png?alt=media&token=a7741f6e-bdce-46a4-96ec-0c20eee72887" class="iconoR" alt="Nombre"></ion-img>
            <ion-input type="text" id="name" name="name" [(ngModel)]="name"></ion-input>
          </div>

          <ion-label>Apellidos</ion-label>
          <div class="conjuntoInputRegistro">
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Ficono-usuario.png?alt=media&token=a7741f6e-bdce-46a4-96ec-0c20eee72887g" class="iconoR" alt="Apellidos"></ion-img>
            <ion-input type="text" id="surname" name="surname" [(ngModel)]="surname" ></ion-input>
          </div>

          <ion-label>Contraseña</ion-label>
          <div class="conjuntoInputRegistro">
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Ficono-contrase%C3%B1a.png?alt=media&token=ff4dc458-37fb-45fa-833c-10e7e41dba6c" class="iconoR" alt="Contraseña"></ion-img>
            <ion-input type="password" id="password" name="password" [(ngModel)]="password"></ion-input>
          </div>

          <ion-label>Repite contraseña</ion-label>
          <div class="conjuntoInputRegistro">
            <ion-img src="https://firebasestorage.googleapis.com/v0/b/pwm-project-aa26c.appspot.com/o/iconos%2Ficono-contrase%C3%B1a.png?alt=media&token=ff4dc458-37fb-45fa-833c-10e7e41dba6c" class="iconoR" alt="Repetición contraseña"></ion-img>
            <ion-input type="password" id="passwordRepeated" name="passwordRepeated" [(ngModel)]="passwordRepeated"></ion-input>
          </div>

          <div class="avisoRestriccion" *ngIf="this.registerForm.get('user')?.errors?.['required'] || this.registerForm.get('email')?.errors?.['required'] ||
            this.registerForm.get('name')?.errors?.['required'] || this.registerForm.get('surname')?.errors?.['required'] ||
            this.registerForm.get('password')?.errors?.['required'] || this.registerForm.get('passwordRepeated')?.errors?.['required']">
            Todos los campos deben rellenarse
          </div>

          <div class="avisoRestriccion" *ngIf="this.registerForm.get('email')?.errors?.['email']">
            El formato del correo introducido no es correcto
          </div>

          <div class="botonFormRegistro">
            <ion-button type="submit" id="registro" fill="outline">
              Registrarse
            </ion-button>
          </div>

        </form>

        <p class="accesoRegistro">
          ¿Ya tienes cuenta? <a [routerLink]="['/login']">Inicia sesión</a>
        </p>
      </div>
    </div>
    <div class="col-1 col-sm-2 col-lg-3">
    </div>
  </div>
</div>
</ion-content>
