.profile{
  background-image: url("https://c0.wallpaperflare.com/preview/916/685/197/spain-gran-canaria-color-palmtree.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  height: auto;
  justify-content: center;
  color: black;
}
.contenedorProfile{
  background-color: white;
  display: flex;
  flex-direction: column;
}
.textoPerfil{
  width:auto;
  align-self: center;
  color:black;
}
.iconoPerfil{
  align-self: center;
}
.nombreApellidos{
  align-self: center;
  border: 1.5px solid #f1f1f1 !important;
  height: auto;
}
.imagenPerfil{
  align-self: center;
  width:100% !important;
  height : 100% !important;
  object-fit: cover;
}
.imagenPerfil ion-img{
  object-fit: cover;
}
.buttonsEditProfile{
  align-self: center;
}
.buttonsEditProfile ion-button{
  background-color: #CEE0FC;
  border-radius: 10%;
  height: auto;
}
.formEditInput{
  align-self: center;
}





/*/////////// MEDIA QUERY ///////////*/
/*
  ##Device = Desktops
  ##Screen = 960px to higher resolution desktops
*/
@media (min-width: 960px) {
  .profile{
    min-height: 100vh;
    padding: 10rem;
    background-size: 100% 100%;
    margin-bottom: -5rem;
  }
  .textoPerfil{
    font-size: 2rem;
  }
  .iconoPerfil{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 2rem;
  }
  .nombreApellidos{
    font-size: 2rem;
    width:40rem;
    margin-top:2rem;
    margin-bottom:2rem;
  }
  .imagenPerfil{
    margin-top:5rem;
    max-width: 12rem !important;
    max-height: 12rem !important;
  }
  .buttonsEditProfile{
    margin-top: 2rem;
    height: 2rem;
    margin-bottom: 8rem;
    font-size: 1rem;
  }
  #saveChangesButton{
    margin-left: 4rem;
  }
  #file-upload{
    margin-top:2rem;
    margin-bottom:2rem;
    align-self: center;
    border:1.5px solid #f1f1f1 !important;
    width: 40rem;
  }

}

/*
  ##Device = Tablets
  ##Screen = 640px to 960px
*/
@media (min-width: 640px) and (max-width: 960px) {
  .profile{
    min-height: 60vh;
    padding: 3rem;
    background-size: 100% 100%;
    margin-bottom: -5rem;
  }
  .textoPerfil{
    font-size: 2rem;
  }
  .iconoPerfil{
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 2rem;
  }
  .nombreApellidos{
    font-size: 2rem;
    width:40rem;
    margin-bottom:2rem;
  }
  .imagenPerfil{
    margin-top:5rem;
    max-width: 12rem !important;
    max-height: 12rem !important;
  }
  .buttonsEditProfile{
    margin-top: 2rem;
    height: 2rem;
    margin-bottom: 8rem;
    font-size: 1rem;
  }
  #saveChangesButton{
    margin-left: 4rem;
  }
  #file-upload{
    margin-top:2rem;
    margin-bottom:2rem;
    align-self: center;
    border:1.5px solid #f1f1f1 !important;
    width: 40rem;
  }
}

/*
  ##Device = Mobiles
  ##Screen = 640px to minimal resolution
*/
@media (max-width: 640px) {
  .profile{
    min-height: 85vh;
    padding: 2rem;
    background-size: 100% 100%;
    margin-bottom: -5rem;
  }
  .textoPerfil{
    font-size: 1.5rem;
  }
  .iconoPerfil{
    width: 2rem;
    height: 2rem;
    margin-top: 2rem;
  }
  .nombreApellidos{
    font-size: 1.5rem;
    width:26rem;
    margin-bottom:2rem;
  }
  .imagenPerfil{
    margin-top:4rem;
    max-width: 12rem !important;
    max-height: 12rem !important;
  }
  .buttonsEditProfile{
    margin-top: 2rem;
    height: 2rem;
    margin-bottom: 6rem;
    font-size: 1rem;
  }
  #saveChangesButton{
    margin-left: 2rem;
  }
  #file-upload{
    margin-top:2rem;
    margin-bottom:2rem;
    align-self: center;
    border:1.5px solid #f1f1f1 !important;
    width: 26rem;
  }

}


