.profile{
  background-image: url("https://c0.wallpaperflare.com/preview/916/685/197/spain-gran-canaria-color-palmtree.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  height: auto;
  justify-content: center;
  min-height: 100vh;
  padding: 5rem;
  background-size: 100% 100%;
  margin-bottom: -5rem;
  color: black;
}
.contenedorProfile{
  background-color: white;
  display: flex;
  flex-direction: column;
}
.nombreApellidos{
  width:auto;
  align-self: center;
  margin-left:0;
  font-size: 1.75rem;
  color:black;
}
.imagenPerfil{
  align-self: center;
  margin-top:2rem;
}



.app-footer{
  position:relative;
}
